# Dependencies
node_modules
**/node_modules

# pnpm
.pnpm-store/
.pnpm-debug.log*

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
**/.svelte-kit
/build
**/build
/dist
**/dist

# VitePress
.vitepress/cache
**/.vitepress/cache
**/.vitepress/dist/

# OS
.DS_Store
Thumbs.db

# Cursor
.cursorrules
**/.cursorrules
.cursor/
**/.cursor/

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
